---
title: friendLinks
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>friendLinks</h2>
</div>

<main class="tags-content">

    <ul class="tags-list" style="text-align: center; ">
        
        <li>
            <span class="tag-name" >
                <a href="https://doltegg.github.io/blog">「非生事惹」</a>
            </span>
                </br>
            <span class="tag-name" >
                <a href="https://doltegg.github.io/text">「排一手好蛋」</a>
            </span>
                </br>
            <span class="tag-name" >
                <a href="https://doltegg.github.io/book">「佳句」</a>
            </span>
        </li>
           
    </ul>
</main>
    
{% include footer.html %}
